## APAN 5310 Group Project (Transforming Script)

In [38]:
import pandas as pd
import psycopg2

# Load the CSV file into a DataFrame
building_info_df = pd.read_csv('/Users/xinyuezhang/Desktop/database/Building_Info.csv')
owner_info_df = pd.read_csv('/Users/xinyuezhang/Desktop/database/Owner_Info.csv')
listing_info_df = pd.read_csv('/Users/xinyuezhang/Desktop/database/Listing_Info.csv')
house_history_df = pd.read_csv('/Users/xinyuezhang/Desktop/database/House_History.csv')
open_house_event_df = pd.read_csv('/Users/xinyuezhang/Desktop/database/Open_House_Event.csv')
amenities_df = pd.read_csv('/Users/xinyuezhang/Desktop/database/Amenities.csv')
neighborhood_df = pd.read_csv('/Users/xinyuezhang/Desktop/database/Neighborhood.csv')
school_df = pd.read_csv('/Users/xinyuezhang/Desktop/database/School.csv')
demographic_df = pd.read_csv('/Users/xinyuezhang/Desktop/database/Demographic.csv')
customer_info_df = pd.read_csv('/Users/xinyuezhang/Desktop/database/customer_info.csv')
transaction_df = pd.read_csv('/Users/xinyuezhang/Desktop/database/transaction.csv')
agent_customer_df = pd.read_csv('/Users/xinyuezhang/Desktop/database/agent_customer.csv')
employee_df = pd.read_csv('/Users/xinyuezhang/Desktop/database/employee.csv')
operational_cost_df = pd.read_csv('/Users/xinyuezhang/Desktop/database/operational_cost.csv')
office_df = pd.read_csv('/Users/xinyuezhang/Desktop/database/office.csv')

In [39]:
# Database connection details
db_params = {
    'dbname': '5310 final project',
    'user': 'postgres',
    'password': '123',
    'host': 'localhost',
    'port': '5432'
}

# Connect to the database
conn = psycopg2.connect(**db_params)
cur = conn.cursor()

In [9]:
# Building Data

In [3]:
# Insert data into the building_information table with duplicate handling
# building info
for index, row in building_info_df.iterrows():
    delete_query = """
    DELETE FROM building_information WHERE building_id = %s
    """
    cur.execute(delete_query, (row['building_id'],))
    
    insert_query = """
    INSERT INTO building_information (building_id, building_name, state, address, zipcode, leasing_office)
    VALUES (%s, %s, %s, %s, %s, %s)
    """
    cur.execute(insert_query, (row['building_id'], row['building_name'], row['state'], row['address'], row['zipcode'], row['leasing_office']))

conn.commit()

In [4]:
# Insert data into the owner_information table with duplicate handling
# owner info
for index, row in owner_info_df.iterrows():
    delete_query = """
    DELETE FROM owner_information WHERE building_id = %s
    """
    cur.execute(delete_query, (row['building_id'],))
    
    insert_query = """
    INSERT INTO owner_information (building_id, owner_name, owner_contact)
    VALUES (%s, %s, %s)
    """
    cur.execute(insert_query, (row['building_id'], row['owner_name'], row['owner_contact']))

conn.commit()

In [5]:
# Insert data into the listing_information table with duplicate handling
# listing info
for index, row in listing_info_df.iterrows():
    delete_query = """
    DELETE FROM listing_information WHERE listing_id = %s
    """
    cur.execute(delete_query, (row['listing_id'],))
    
    insert_query = """
    INSERT INTO listing_information (listing_id, building_id, room_number, bedroom, bathroom, availability, price, sqft)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """
    cur.execute(insert_query, (
        row['listing_id'], row['building_id'], row['room_number'], row['bedroom'], 
        row['bathroom'], row['availability'], row['price'], row['sqft']
    ))

conn.commit()

In [6]:
# Insert data into the house_history table with duplicate handling
# house history
for index, row in house_history_df.iterrows():
    delete_query = """
    DELETE FROM house_history WHERE listing_id = %s AND customer_id = %s
    """
    cur.execute(delete_query, (row['listing_id'], row['customer_id']))
    
    insert_query = """
    INSERT INTO house_history (listing_id, customer_id, start_date, end_date, price)
    VALUES (%s, %s, %s, %s, %s)
    """
    cur.execute(insert_query, (
        row['listing_id'], row['customer_id'], row['start_date'], row['end_date'], row['price']
    ))

conn.commit()

In [7]:
# Insert data into the open_house_event table with duplicate handling
# open house event
for index, row in open_house_event_df.iterrows():
    delete_query = """
    DELETE FROM open_house_event WHERE building_id = %s AND event_type = %s AND event_date = %s AND event_time = %s AND capacity = %s
    """
    cur.execute(delete_query, (row['building_id'], row['event_type'], row['event_date'], row['event_time'], row['capacity']))
    
    insert_query = """
    INSERT INTO open_house_event (building_id, event_type, event_date, event_time, capacity)
    VALUES (%s, %s, %s, %s, %s)
    """
    cur.execute(insert_query, (
        row['building_id'], row['event_type'], row['event_date'], row['event_time'], row['capacity']
    ))

conn.commit()

In [8]:
#amenities
# Convert numeric columns to boolean
amenities_df['gym'] = amenities_df['gym'].astype(bool)
amenities_df['swimming_pool'] = amenities_df['swimming_pool'].astype(bool)
amenities_df['basketball_court'] = amenities_df['basketball_court'].astype(bool)
amenities_df['parking'] = amenities_df['parking'].astype(bool)
amenities_df['lounge'] = amenities_df['lounge'].astype(bool)


# Insert data into the amenities table with duplicate handling
for index, row in amenities_df.iterrows():
    delete_query = """
    DELETE FROM amenities WHERE building_id = %s
    """
    cur.execute(delete_query, (row['building_id'],))
    
    insert_query = """
    INSERT INTO amenities (building_id, amenity_fee, gym, swimming_pool, basketball_court, parking, lounge)
    VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
    cur.execute(insert_query, (
        row['building_id'], row['amenity_fee'], row['gym'], row['swimming_pool'], 
        row['basketball_court'], row['parking'], row['lounge']
    ))

conn.commit()

In [9]:
#neighborhood
# Convert all relevant columns to Python int
neighborhood_df['building_id'] = neighborhood_df['building_id'].astype(int)
neighborhood_df['school'] = neighborhood_df['school'].astype(int)
neighborhood_df['grocery_store'] = neighborhood_df['grocery_store'].astype(int)
neighborhood_df['pharmacy'] = neighborhood_df['pharmacy'].astype(int)
neighborhood_df['park'] = neighborhood_df['park'].astype(int)
neighborhood_df['restaurant'] = neighborhood_df['restaurant'].astype(int)
neighborhood_df['bar'] = neighborhood_df['bar'].astype(int)


# Insert data into the neighborhood table with duplicate handling
for index, row in neighborhood_df.iterrows():
    delete_query = """
    DELETE FROM neighborhood WHERE building_id = %s
    """
    cur.execute(delete_query, (int(row['building_id']),))
    
    insert_query = """
    INSERT INTO neighborhood (building_id, school, grocery_store, pharmacy, park, restaurant, bar)
    VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
    cur.execute(insert_query, (
        int(row['building_id']), int(row['school']), int(row['grocery_store']), int(row['pharmacy']), 
        int(row['park']), int(row['restaurant']), int(row['bar'])
    ))

conn.commit()

In [10]:
#school
# Insert data into the school table with duplicate handling
for index, row in school_df.iterrows():
    delete_query = """
    DELETE FROM school WHERE school_id = %s
    """
    cur.execute(delete_query, (row['school_id'],))
    
    insert_query = """
    INSERT INTO school (building_id, school_id, school_name, school_rating, school_type)
    VALUES (%s, %s, %s, %s, %s)
    """
    cur.execute(insert_query, (
        row['building_id'], row['school_id'], row['school_name'], row['school_rating'], row['school_type']
    ))

conn.commit()

In [11]:
# demographic
# Insert data into the demographic table with duplicate handling
for index, row in demographic_df.iterrows():
    delete_query = """
    DELETE FROM demographic WHERE building_id = %s
    """
    cur.execute(delete_query, (row['building_id'],))
    
    insert_query = """
    INSERT INTO demographic (building_id, state, area, income_level, criminal_rate_level)
    VALUES (%s, %s, %s, %s, %s)
    """
    cur.execute(insert_query, (
        row['building_id'], row['state'], row['area'], row['income_level'], row['criminal_rate_level']
    ))

conn.commit()

In [19]:
# Customer Data

In [12]:
#customer info
# Insert data into the customer_information table with duplicate handling
for index, row in customer_info_df.iterrows():
    delete_query = """
    DELETE FROM customer_information WHERE customer_id = %s
    """
    cur.execute(delete_query, (row['customer_id'],))
    
    insert_query = """
    INSERT INTO customer_information (customer_id, first_name, last_name, contact, email, employee_id)
    VALUES (%s, %s, %s, %s, %s, %s)
    """
    cur.execute(insert_query, (
        row['customer_id'], row['first_name'], row['last_name'], row['contact'], row['email'], row['employee_id']
    ))

conn.commit()

In [26]:
#update customer info 
#employee id column

for index, row in customer_info_df.iterrows():
    cur.execute("""
        UPDATE customer_information
        SET 
            first_name = %s,
            last_name = %s,
            contact = %s,
            email = %s,
            employee_id = %s
        WHERE customer_id = %s
    """, (
        row['first_name'],
        row['last_name'],
        row['contact'],
        row['email'],
        row['employee_id'],
        row['customer_id']
    ))

# Commit the updates
conn.commit()

In [13]:
# transaction
# Insert data into the transactions table with duplicate handling
for index, row in transaction_df.iterrows():
    delete_query = """
    DELETE FROM transactions WHERE transaction_id = %s
    """
    cur.execute(delete_query, (row['transaction_id'],))
    
    insert_query = """
    INSERT INTO transactions (transaction_id, customer_id, building_id, transaction_date, transaction_type, transaction_amount, status)
    VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
    cur.execute(insert_query, (
        row['transaction_id'], row['customer_id'], row['building_id'], row['transaction_date'], 
        row['transaction_type'], row['transaction_amount'], row['status']
    ))

conn.commit()

In [15]:
#employee
# Insert data into the employee table with duplicate handling
for index, row in employee_df.iterrows():
    delete_query = """
    DELETE FROM employees WHERE employee_id = %s
    """
    cur.execute(delete_query, (row['employee_id'],))
    
    insert_query = """
    INSERT INTO employees (employee_id, first_name, last_name, department, position, contact_info, office_id)
    VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
    cur.execute(insert_query, (
        row['employee_id'], row['first_name'], row['last_name'], row['department'], 
        row['position'], row['contact_info'], row['office_id']
    ))

conn.commit()

In [40]:
# agent_customer
import pandas as pd
import psycopg2
from psycopg2 import sql, errors

# Convert all relevant columns to Python int
agent_customer_df['employee_id'] = agent_customer_df['employee_id'].astype(int)
agent_customer_df['customer_id'] = agent_customer_df['customer_id'].astype(int)
agent_customer_df['interested_listing_id'] = agent_customer_df['interested_listing_id'].astype(int)


# Insert data into the agent_customer table with duplicate and foreign key violation handling
for index, row in agent_customer_df.iterrows():
    try:
        delete_query = """
        DELETE FROM agent_customer WHERE employee_id = %s AND customer_id = %s AND interested_listing_id = %s
        """
        cur.execute(delete_query, (int(row['employee_id']), int(row['customer_id']), int(row['interested_listing_id'])))
        
        insert_query = """
        INSERT INTO agent_customer (employee_id, customer_id, interested_listing_id)
        VALUES (%s, %s, %s)
        """
        cur.execute(insert_query, (
            int(row['employee_id']), int(row['customer_id']), int(row['interested_listing_id'])
        ))

        conn.commit()  # Commit the transaction if no errors occur

    except errors.ForeignKeyViolation as e:
        print(f"ForeignKeyViolation: {e}")
        conn.rollback()  # Rollback the transaction in case of error to maintain the database state

    except Exception as e:
        print(f"Error: {e}")
        conn.rollback()  # Rollback the transaction in case of error to maintain the database state

In [ ]:
# Company Data (employee before agent_customer)

In [17]:
# office
# Convert all relevant columns to Python int
office_df['office_id'] = office_df['office_id'].astype(int)


# Insert data into the office table with duplicate handling and foreign key check
for index, row in office_df.iterrows():
    try:
        # Check if the office_id is referenced in other tables
        reference_check_query = """
        SELECT COUNT(*) FROM operational_cost WHERE office_id = %s
        """
        cur.execute(reference_check_query, (int(row['office_id']),))
        reference_count = cur.fetchone()[0]
        
        if reference_count == 0:
            delete_query = """
            DELETE FROM offices WHERE office_id = %s
            """
            cur.execute(delete_query, (int(row['office_id']),))
        
        insert_query = """
        INSERT INTO offices (office_id, state, address)
        VALUES (%s, %s, %s)
        """
        cur.execute(insert_query, (
            int(row['office_id']), row['state'], row['address']
        ))

        conn.commit()  # Commit the transaction if no errors occur

    except errors.ForeignKeyViolation as e:
        print(f"ForeignKeyViolation: {e}")
        conn.rollback()  # Rollback the transaction in case of error to maintain the database state

    except Exception as e:
        print(f"Error: {e}")
        conn.rollback()  # Rollback the transaction in case of error to maintain the database state

In [18]:
# Convert all relevant columns to appropriate types
operational_cost_df['cost_id'] = operational_cost_df['cost_id'].astype(int)
operational_cost_df['office_id'] = operational_cost_df['office_id'].astype(int)
operational_cost_df['employee_id'] = operational_cost_df['employee_id'].astype(int)


# Insert data into the operational_cost table with duplicate handling
for index, row in operational_cost_df.iterrows():
    delete_query = """
    DELETE FROM operational_cost WHERE cost_id = %s
    """
    cur.execute(delete_query, (row['cost_id'],))
    
    insert_query = """
    INSERT INTO operational_cost (cost_id, office_id, cost_type, cost_amount, transaction_date, employee_id)
    VALUES (%s, %s, %s, %s, %s, %s)
    """
    cur.execute(insert_query, (
        row['cost_id'], row['office_id'], row['cost_type'], row['cost_amount'], 
        row['transaction_date'], row['employee_id']
    ))

conn.commit()

In [ ]:
# Close the cursor and connection
cur.close()
conn.close()